* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

#container {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}
.btn {
  margin-top: .65rem;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background: #444;
}

