* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
#app {
  text-align: center;
}
a {
  color: #6af;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

