<%# express template script to render a basic home page %>

<html>
<head>
    <title> <%= title %> </title>
</head>
<body>
    <h1> <%= title %> </h1>
    <p> <%= paragraph1 %> </p>
<%# button to hyperlink to prompt.ejs %>
    <a href="/prompt">
        <button> Go To Prompt </button>
    </a>
</body>
</html>
