<html>
<head>
    <title>Prompt</title>
</head>
<body>
    <h1>Welcome! Enter your Name...</h1>

    <form action="/prompt" method="post">
        <input type="text" name="name" placeholder="Your name" required />
        <input type="submit" value="Submit" />
    </form>

    <br>
    <a href="/names">
        <button type="button">View Names</button>
    </a>

    <br><br>
    <a href="/">
        <button type="button">Back to Home</button>
    </a>
</body>
</html>
